{% extends "base" %}

{% block content %}
<div class="col mid mid-v">
    {% if profile %}
        <p>press button to get</p>
    {% else %}
        {% if message %}
            {{ message }}
        {% endif %}
    {% endif %}
    <form class="login" action="/" method="POST">
    </form>
</div>
{% endblock %}
