{% extends "base" %}

{% block content %}
<div class="col mid mid-v">
    {% if message %}
        {{ message }}
    {% else %}
        <p>press button to get</p>
    {% endif %}
    <form class="login" action="/get">
        {% if profile.data.ready %}
        <input id="the-button" type="submit" value="get">
        {% else %}
        <input id="the-button" type="submit" value="get" disabled>
        {% endif %}
    </form>
</div>
{% endblock %}
