<html>
    <head>
        <title>game</title>
        <link rel="shortcut icon" href="static/favicon.ico" />
        <link rel="stylesheet" href="static/styles.css" />
        <link rel="stylesheet" href="static/gay.css" />
    </head>
    <body>
        {% block min_content %}{% endblock %}
    </body>
</html>
